Jinja2==2.11.2
Pillow==8.1.0
WeasyPrint==52.2
aiohttp==3.7.3
aiosqlite==0.16.1
antistasi_template_checker==0.1.1
arrow==0.17.0
async-property==0.2.1
asyncstdlib==3.9.0
autopep8==1.5.5
beautifulsoup4==4.9.3
click==7.1.2
cryptography==3.3.1
dateparser==1.0.0
dpytest==0.0.22
emoji==1.1.0
fuzzywuzzy==0.18.0
gidappdata==0.1.13
gidconfig==0.1.16
gidlogger==0.1.9
googletrans==4.0.0rc1
humanize==3.2.0
icecream==2.0.0
marshmallow==3.10.0
matplotlib==3.3.3
paramiko==2.7.2
psutil==5.8.0
pyfiglet==0.8.post1
python-dotenv==0.15.0
python-magic==0.4.22
pytz==2020.5
tldextract==3.1.0
udpy==2.0.0
watchgod==0.6
webdavclient3==3.14.5
discord-flags==2.1.1
-f numpy==1.19.3
paramiko[all]